* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1591625677777-ae053aef58ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHB1cnBsZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 10px;
  margin: 20px;
}
#header{
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F1CEDF;
  color: rgb(15, 6, 70);
  padding-top: 55px;
}
#range{
  width: 50%;
}
#header-name{
  display: block;
  float: left;
}
#intro{
  font-style: oblique;
  font-size: 20px;
}
#search input{
font-size: large;}
#search{
  background-color: #C4C4C4;
  color: black;
  display: flex;
  float: right;
  flex-direction: column;
  font-size: 3rem;
  border-radius: .8rem;
  margin: .7rem 0;
 
}
#header-name{
  font-size: x-large;
}
#header div{
  float: left;
}
#order-form{
  background-color: silver;
  background-image: url('https://images.unsplash.com/photo-1680443285773-ef42672d00da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjE0fHxsaWdodCUyMGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: .8rem;
  margin: .7rem 0;
  padding-top: 10px;
}
#category-options, #type-options, #location-from, #location-to,
#customer-name, #customer-number, #customer-email, #customer-image{
  font-size: larger;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: firebrick;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover {
  box-shadow: none;
}

 #packages {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
   
 }

 #platinum-package{
  background-color: #e5e4e2;
    flex: 1 1 30rem;
      padding: 3rem 2rem 4rem;
      border-radius: 2rem;
      text-align: center;
      border: .2rem solid var(--bg-color);
      font-size: larger;
      transition: .5s e
 }
 #platinum-package:hover {
   border-color: var(--main-color);
   transform: scale(1.02);
 }

    #platinum-package {
      background-image: url('https://media.istockphoto.com/id/1201207088/photo/brushed-aluminum-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=b30vkZ0J0HvpgO9l2qiK1IA6W7Iu6S47h3hgzEINzNg=');
      flex: 1 1 30rem;
      padding: 3rem 2rem 4rem;
      border-radius: 2rem;
      text-align: center;
      border: .2rem solid var(--bg-color);
      font-size: larger;
      transition: .5s e
    }
  
    #platinum-package:hover {
      border-color: var(--main-color);
      transform: scale(1.1);
    }
 #silver-package {
   background-image: url('https://media.istockphoto.com/id/982153814/photo/silver-metal-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=Cxga_YGAZoqmzbaHCNCAQFSvyyihQlQDyU3TT04-wPc=');
   flex: 1 1 30rem;
   padding: 3rem 2rem 4rem;
   border-radius: 2rem;
   text-align: center;
   border: .2rem solid var(--bg-color);
   font-size: larger;
   transition: .5s e
   
 }

 #silver-package:hover {
   border-color: var(--main-color);
   transform: scale(1.1);
 }
#gold-package {
      background-image: url('https://media.istockphoto.com/id/679468742/photo/gold-foil-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=BNBGicUcfaOzAr6kq5c92eRuLyrTeUDX1zTG14Py-RM=');
      flex: 1 1 30rem;
      padding: 3rem 2rem 4rem;
      border-radius: 2rem;
      text-align: center;
      border: .2rem solid var(--bg-color);
      font-size: larger;
      transition: .5s e
    }
  
    #gold-package:hover {
      border-color: var(--main-color);
      transform: scale(1.1);
    }
img{
  height: 250px;
  width: 250px;
}
#order-container{
    display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
}
#orders{
        background-image: url('https://media.istockphoto.com/id/1201207088/photo/brushed-aluminum-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=b30vkZ0J0HvpgO9l2qiK1IA6W7Iu6S47h3hgzEINzNg=');
          flex: 1 1 30rem;
          padding: 3rem 2rem 4rem;
          border-radius: 2rem;
          text-align: center;
          border: .2rem solid var(--bg-color);
          font-size: larger;
          transition: .5s e
}
 #orders:hover {
   border-color: var(--main-color);
   transform: scale(1.02);
 }